<div id="pc-auto-load-root" data-enabled="true"></div>
{{ 'core.js' | asset_url | script_tag }}
{{ 'auto-load.js' | asset_url | script_tag }}

{% schema %}
{
  "name": "Customizer Auto Load",
  "target": "body",
  "settings": []
}
{% endschema %}
