<div
  id="imcst-public-root"
  data-product-id="{{ product.id }}"
  data-shop="{{ shop.permanent_domain }}">
</div>

<script src="https://custom.duniasantri.com/imcst_public_api/storefront.js" async></script>

{% schema %}
{
  "name": "Design It Button",
  "target": "section",
  "settings": [
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label",
      "default": "Design it"
    }
  ]
}
{% endschema %}
